
@{
	ViewBag.Title = "Users";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<ul>

	@foreach (var customers in ViewBag.Users)
	{
		<a>
			<li>@customers.Name</li>
		</a>

	}

</ul>
