@*@model Vidly.Models.Customer*@

@{
	ViewBag.Title = ViewBag.Data.Name;
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Data.Name</h2>
@if (ViewBag.Data.birthDate != null)
{
	
	<h2>@ViewBag.Data.birthDate</h2>
}